# Activar el motor de reescritura
RewriteEngine On

# Deshabilitar el listado de directorios
Options -Indexes

# Redirigir cualquier solicitud al directorio 'public' (sin entrar en un bucle infinito)
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^$ /public/ [L]
RewriteRule ^(.*)$ /public/$1 [L]

# Definir el archivo de índice en la carpeta public
DirectoryIndex /public/index.php