# Activar el motor de reescritura
RewriteEngine On

# Definir el archivo de índice
DirectoryIndex public/index.php

# Si la URL es vacía (solamente dominio o "/"), redirigir a public/
RewriteRule ^$ public/ [L]

# Si hay una solicitud que no es un archivo o directorio real, redirigirla a public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]


