* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#myModalHistoria {
    display: none;
    margin: 0 auto;
    background-color: white;
    z-index: 1;
    width: 70%;
    height: 100%;
    border: 1px solid black;
    left: 60%;
    top: 50%;
}

:root {
    /* colores */
    --background: #E8EBED;
    --btns: #1B3249;
    --other: #2fc1ff;
    --barra: #b1e8f8;
}

body,
html {
    height: 100%;
    margin: 0;
}

#spanId {
    background: var(--other);
    width: 100%;
}

.table {
    height: 60vh;
    margin: 0 auto;
    width: 50%;
    padding: 1.3rem;
    transform: translateY(10%);
}

#titleUser {
    font-size: 2rem;
}

.dt-search {
    width: 15rem;
    height: 3rem;
}

/* Tamaño del input de busqueda */
#dt-search-0 {
    height: 1.3vh;
}

#menuDrop {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.5);
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: var(--background);
    padding: 1rem;
}


#myModal {
    display: none;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    height: auto;
}

/* MyModalHistoria */
#myModalHistoria {
    display: none;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(0%, -60%);
    overflow: auto;
    height: auto;
}

.labelText {
    font-size: 1.5rem;
}

#closeModal {
    font-size: 40px;
}

.closeSpan {
    font-size: 40px;
}

#btnSavePaciente {
    text-align: center;

}

/* Text area = definir tamaño por defecto. */
#motivoVisita {
    resize: none;
    width: 100%;
    height: 5rem;
    padding: 1.5rem;
}

.btnDivHistoria {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 1.5rem;
}

/* Media Queries para dispositivos móviles */
/* @media (max-width: 768px) { */
@media screen and (min-width: 769px) and (max-width:1199px) {
    .table {
        width: 90%;
        padding: 1rem;
        transform: translateY(-10%);
    }

    .dt-search {
        width: 100%;
        height: 2.5rem;
    }

    #menuDrop {
        width: 80%;
        transform: translateX(-50%) scale(0.5);
    }

    #myModal {
        width: 80%;
    }

    #titleUser {
        font-size: 1.5rem;
    }

    .labelText {
        font-size: 1.2rem;
    }

    #closeModal {
        font-size: 30px;
    }

    .closeSpan {
        font-size: 30px;
    }
}




/* Media Queries para dispositivos muy pequeños, como móviles en orientación vertical */
/* @media (max-width: 480px) { */
    @media screen and (max-width: 768px) {
    .table {
        width: 95%;
        padding: 0.8rem;
        transform: translateY(3%);
    }

    #menuDrop {
        width: 90%;
    }

    #myModal {
        width: 95%;
    }

    #titleUser {
        font-size: 1.3rem;
    }

    .labelText {
        font-size: 1rem;
    }

    #closeModal {
        font-size: 25px;
    }

    .closeSpan {
        font-size: 30px;
    }
}

/* Media query para tamaños mayores a 1200px */
@media (min-width: 1200px) {
    .table {
        width: 90%;
        transform: translateY(-7%);
    }

    h1 {
        margin: 0 !important;
    }

    #modalTitleHistoria {
        font-size: 2rem;
    }

    #menuDrop {
        width: 40%;
    }

    #myModalHistoria {
        width: 80%;
        height: auto;
        border: 1px solid black;
        left: 60%;
        top: 50%;
        transform: translateY(-73%);
    }

}