*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
/* colores */
--background: #E8EBED;
--btns: #1B3249;
--other: #2fc1ff;
--barra: #b1e8f8;

}

body,html{
    height: 100%;
    margin: 0;
}


#spanId {
    background: var(--other);
    width: 100%;
}

.table{
    /* display: grid; */
    height: 60vh;
    margin: 0 auto;
    width: 50%;
    padding: 1.3rem;
    transform: translateY(10%);

    #titleUser{
        font-size: 2rem;
    }

    .dt-search{
        width: 15rem;
        height: 3rem;
        
        /* Tamaño del input de busqueda. */
        #dt-search-0{
            height: 1.3vh;
            
        }
    }
}

/* Editar boton de busqueda */


/* #menuDrop{
    display: flex;
    width: 50%;
    height: calc(100vh - 90);
    border: 1px solid black;
    margin: 0 auto;
} */

#menuDrop {
    position: fixed; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    justify-content: space-around; 
    width: 50%; 
    background-color: var(--background); 
    padding: 1rem;
    border: 1px solid black;
}

/* Modal */
#myModal{
    display: none;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Genera un scrollbar en caso de que el contenido sea mayor al tamaño del contenedor. */
    overflow: auto;
    /* El tamaño dependerá del las cosas que tenga el contenedor. */
    height: auto; 
}